$color-success: #0bb60b;
$color-error: #f01c1ce5;
$text-color: #747d8c;
$color-second: #ffffff;
$background-color: #3498db;
$background-color-first: #f0f8ff;
$box-shadow-first: #0e1e251f;
$box-shadow-second: #0e1e2552;
